
<br>
<br><br>

  <h1 class="driver">Drivers</h1>
  <br>
<div class="container">
    
    <table class="table table-hover " style="width:100%">
        <thead>
            <tr>
                 <th style="color:whitesmoke;font-size:25px;background-color: crimson;font-weight: 500;">Driver Name</th>
                <th style="color:whitesmoke;font-size:25px;background-color: crimson;font-weight: 500;" >QR code</th>
            </tr>
        </thead>

        <tbody>
          
                <tr *ngFor="let driver of drivers">
                <td style="font-size: 30px; font-family:Georgia,serif">{{driver.name}}  </td>
                <td> <button class="appButton" (click)="generateQRCode(driver)">Display QR Code</button></td>
            </tr>
            
        </tbody>
    </table>